.main {
    margin: 0;
}

.section__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 2em;
}

.section__main__titulo {
    font-size: 4em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.section__main__subtitulo {
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}

.recepcao {
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section__img {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em 0 0 0;
}

.peca_agora {
    padding: 1em 0;
}

.botao__link {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    border: 4px;
    padding: 10px 20px;
    color: var(--cor-branca);
    border: 1px solid var(--cor-amarela);
    border-radius: 1.5em;

}

.linha {
    width: 100%;
}

.promocao__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 0 1em 0;
}

.sobrenos__descricao {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 1em;
    line-height: 1em;
}

/* -------------------------------------------
    CARDÁPIO 
   ------------------------------------------- 
*/

.cardapio__item {
    display: flex;
    position: relative;
    width: 100%;
}

.cardapio__img {
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.cardapio__img__frango {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

.cardapio__produto {
    display: flex;
    flex-direction: column;
}

.produto__titulo {
    padding: 0.5em 0 0.5em 0.5em;
}

.produto__descricao {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0.5em;
}

.bebidas__titulo {
    font-size: 4em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.cardapio__refrigerante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.cardapio__suco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

/* -------------------------------------------
    SOBRE NÓS
   ------------------------------------------- 
*/

.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobrenos__titulo {
    font-size: 2em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.sobre__nos__titulo {
    padding: 0.5em 0.5em;
    font-size: 3em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.sobre__nos {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.5px;
}

.agradecimento {
    font-size: 3em;
    padding: 0.5em 0.5em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.agradecimento__texto {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.5px;
}

/* -------------------------------------------
    CADASTRO
   ------------------------------------------- 
*/

.cadastroForm {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.cadastro__titulo {
    font-size: 3em;
    padding: 0.5em 0.5em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.form__campo {
    padding: 1em 1em;
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form__campo__input {
    background-color: var(--cor-de-fundo);
    border: 2px solid var(--cor-amarela);
    border-radius: 1em;
    color: var(--cor-branca);
    padding: 0.5em 0.5em;
}

.form__cadastrar {
    padding: 1em 0.5em;
    background-color: var(--cor-de-fundo);
    border: 2px solid var(--cor-amarela);
    border-radius: 1em;
    color: var(--cor-branca);
    margin: 1.2em;
}

.form__cadastrar:hover {
    background-color: var(--cor-amarela);
}

@media screen and (min-width: 1024px) {

    .section__img {
        width: 50%;
    }

    .peca_agora__link {
        padding: 0.8em 0.8em;
    }

    .promocao__texto {
        width: 50%;
    }

    .sobrenos__descricao {
        display: flex;
        justify-content: center;
    }

    .recepcao {
        font-size: 1.3em;
    }

    .promocao__texto {
        font-size: 1.3em;
    }

    .sobrenos__descricao {
        font-size: 1.3em;
    }

    .botao__link {
        font-size: 1.2em;
    }

    /*  -------------------------------------------
        CARDÁPIO 
        ------------------------------------------- 
    */

    .cardapio__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

}