.main {
    margin: 0;
}

.section__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 2em;
}

.section__main__titulo {
    font-size: 4em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.section__main__subtitulo {
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}

.recepcao {
    padding: 1em 1em 2em 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section__img {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 3px solid var(--cor-amarela);
    border-radius: 4px;
}

.peca_agora {
    padding: 1em 0;
}

.botao__link {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    border: 4px;
    padding: 10px 20px;
    color: var(--cor-branca);
    border: 1px solid var(--cor-amarela);
    border-radius: 1.5em;

}

.linha {
    width: 100%;
    margin: 1em;
}

.promocao__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 0 1em 0;
}

.sobrenos__descricao {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 1em;
    line-height: 1em;
}

/* -------------------------------------------
    CARDÁPIO 
   ------------------------------------------- 
*/

.cardapio__recepcao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0 1em 0;
}

.cardapio__item {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.cardapio__img {
    width: 42%;
    margin: 1em;
    display: flex;
    justify-content: flex-start;
}

.cardapio__img__frango {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    width: 40%;
}

.cardapio__img__portuguesa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 42%;
}

.cardapio__img__doce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0.2em;
}

.cardapio__img__morango {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0.2em;
}

.cardapio__img__camarao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    margin: 1em;
}

.cardapio__produto {
    display: flex;
    border-radius: 4px;
    text-align: center;
    flex-direction: column;
}

.produto__titulo {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.produto__descricao {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}

.preco {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
}

.bebidas__titulo {
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor-amarela);
    margin-bottom: 0.3em;
}

.bebidas__descricao {
    display: flex;
    text-align: center;
    font-size: 1.3em;
}

.cardapio__refrigerante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 1em;
}

.cardapio__suco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.botao__link {
    padding: 0.5em 1.5em;
}

/* -------------------------------------------
    SOBRE NÓS
   ------------------------------------------- 
*/

.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobrenos__titulo {
    font-size: 2em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.sobre__nos__titulo {
    padding: 0.5em 0.5em;
    font-size: 3em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.sobre__nos {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.agradecimento {
    font-size: 3em;
    padding: 0.5em 0.5em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.agradecimento__texto {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* -------------------------------------------
    CONTATO
   ------------------------------------------- 
*/

.contato__titulo {
    font-size: 4em;
    padding: 0.5em 0.5em;
    display: flex;
    text-align: center;
    color: var(--cor-amarela);
}

.contato__recepcao {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    font-size: 1em;
}

.BordaContatos {
    border: 3px solid var(--cor-amarela);
    border-radius: 2em;
}

.Contato__Mail {
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
}

.Contato__Telefone {
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
}

.Contato__Endereco {
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
}

.contato__texto {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    font-size: 1em;
}

.contato__agradecimento {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    font-size: 1em;
    padding: 1em 0;
}


    /* 
        -------------------------------------------
        USUÁRIO
        ------------------------------------------- 
    */

    .user__icone {
        margin: 1.5em;
    }

    .userForm {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form__campos {
        justify-content: center;
        flex-direction: column;
    }

    .user__form {
        padding: 1em;
        background-color: var(--cor-de-fundo);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user__form__input {
        background-color: var(--cor-de-fundo);
        border: 2px solid var(--cor-amarela);
        border-radius: 1em;
        color: var(--cor-branca);
        padding: 0.5em 0.5em;
        margin: 1em;
    }

    .botao__alterar {
        align-items: center;
    }

    .user__alterar {
        background-color: var(--cor-de-fundo);
        border: 2px solid var(--cor-amarela);
        border-radius: 1em;
        color: var(--cor-branca);
        margin: 1.2em;
        flex-direction: column;
        display: flex;
        padding: 1.5em 2em;
    }